@import url('https://fonts.cdnfonts.com/css/velocista');
@import url('https://fonts.cdnfonts.com/css/poland-cannot-into');
@import url('https://fonts.cdnfonts.com/css/utopia-std');
:root{
    --ND: #2D9471;
    --DS: #211C3B;
    --B: #e8e8e8;
    --p: #212121;
    --R: #563BDB;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: var(--p);
    height: 100vh;
}
h1{
    color: var(--B);
    filter: drop-shadow(0 0 5px var(--R)) drop-shadow(0 0 20px var(--R))
}
p, h2{
    color: var(--B);
}
.section{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.box{
    margin: 1em;
    padding: 1em;
    border: 2px solid #563BDB;
    width: 50%;  
    border-radius: 1em;
}
a{
    text-decoration: none;
    color: var(--B);
    list-style: none;
}
.header {
    background: var(--DS);
    padding-inline: 16px;
}
.nav {
    max-width: 1280px;
    height: 70px;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    font-size: 2.5rem;
    color: var(--B);
    font-family: 'VELOCISTA';
    font-style: italic;
    font-weight: 850;
    src: local('VELOCISTA'), url('https://fonts.cdnfonts.com/s/18155/Velocista-Demo-FFP.woff') format('woff');
}
.nav-list {
    display: flex;
    gap: 32px;
    list-style: none;
}
li{
    opacity: 1;
}
li:hover{
    color: var(--p);
    transform: translateY(-5%);
}
.nav-list a {
    font-size: 1.2em;
    border-bottom: 2px solid var(--B);
    color: var(--B);
    padding-block: 2px;
}
main.hamburger-active, footer.hamburger-activeF{
    display: none !important;
  }
.hamburger {
    display: none;
    border: none;
    background: none;
    border-top: 3px solid var(--B);
    cursor: pointer;
}      
.hamburger::after, .hamburger::before {
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background: var(--B);
    margin-top: 5px;
    position: relative;
    transition: 0.3s;
}
body::-webkit-scrollbar {
    width: 10px;               
  }
  body::-webkit-scrollbar-track {
    background: #000;       
  }
  body::-webkit-scrollbar-thumb {
    background-color: #fff;   
    border-radius: 25px;       
    border: 12px solid #fff; 
  }
@media (max-width:825px) {
    .list-name{
        font-size: 10px;
    }
}
@media (max-width: 750px) {
    .hamburger{
        display: block;
        z-index: 3;
    }      
    .nav-list 
    {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: var(--DS);
        clip-path: circle(100px at 90% -20%);
        transition: 1s ease-out;  
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 0;  
        pointer-events: none;
    }      
    .nav-list a {
        font-size: 24px;
        opacity: 0;
    }      
    .nav-list li:nth-child(1) a {
        transition: 0.5s 0.2s;
    }      
    .nav-list li:nth-child(2) a {
        transition: 0.5s 0.4s;
    }      
    .nav-list li:nth-child(3) a {
        transition: 0.5s 0.6s;
    }
    .nav-list li:nth-child(4) a{
        transition: 0.5s 0.8s;
    }
    .nav-list li:nth-child(5) a{
        transition: 0.5s 1s;
    }
        
        /* Estilos ativos */
        
    .nav.active .nav-list {
        clip-path: circle(1500px at 90% -15%);
        pointer-events: all;
    }  
    .nav.active .nav-list a {
        opacity: 1;
    }
    .nav.active .hamburger{
        position: fixed;
        top: 26px;
        right: 16px;
        border-top-color: transparent;
    }  
    .nav.active .hamburger::before {
        transform: rotate(135deg);
    }
    .nav.active .hamburger::after{
        transform: rotate(-135deg);
        top: -7px;
    }
    .ds{
       font-size: 1.2rem;
    }
}
@media (max-width: 450px){
    .ds{
        font-size: 1rem;
    }
}